.circle {
    &_white {
        position: absolute;
        right: 0;
        transform: translate(70%, 100%);
    }

    &_yellow {
        position: absolute;
        transform: translateX(30%);
        right: 0;
    }
}

.container {
    max-width: 879px;
    margin: 0 auto;
    position: relative;
}

.content {
    font-size: 42px;
    font-weight: 800;
    text-transform: uppercase;

    &:not(:first-child) {
        margin-top: 20px;
    }
}