.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
    column-gap: 20px;
}

.card:first-child {
    margin-top: 40px;
}

.card:last-child {
    position: relative;
    top: -60px;
}