@import '../styles/utils/reset.scss';
@import '../styles/utils/variables.scss';

body {
  font-family: "Raleway", sans-serif;
  color: $main-text-color;
  background-color: $main-color;
  overflow-x: hidden;
}

.privacy {
  &_item:not(:last-child) {
    margin-right: 10px
  }
  max-width: 880px;
  margin: 10px auto;

  padding-bottom: 65px;
}
