@import '../../styles/utils/variables.scss';

.container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
}

.main_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}