@import '../../styles/utils/variables.scss';

.container {
    padding: 20px 0;
    overflow: hidden;

    margin-top: 700px;
  }
  .text {

    &_container {
        max-width: 880px;
        margin: 0 auto;
    }
    font-size: 11px;
    font-weight: 700;
    color: $second-main-color;
    text-transform: uppercase;
  }
  
  .logo {
    &_container {
        margin-top: 10px;
        width: 100%;
        overflow: hidden;
    }

    &_wrapper {
        display: flex;
        gap: 120px;
        animation: scroll 5s linear infinite;

        & img {
            max-height: 50px;
        }

        &_2 {
            margin-top: 50px;
            display: flex;
            gap: 120px;
            animation: scroll2 5s linear infinite;
        }
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }